@charset 'utf-8';
@import 'normalize';
@import 'vendor/skeleton';

@import 'typography';

@import 'nav';

body {
  text-align: center;
}

footer {
  background-color: #8A8D8F;
  height: 100px;
}

.hero {
  background-image: url(/images/background.jpg); 
  background-position: center center;
  background-size: cover;
  filter: grayscale(1);
  width: 100%; 
  height: 25rem;
  padding: 5rem 0;
  @media (min-width: 550px) {
    height: 40rem;
  }

  .hero__copy {
    color: white;

    padding-top: 50px;
    @media (max-width: 550px) {
      padding-top: 0px;
      h1 {
        line-height: 5rem;
      }
    }
    
    h3 {
     	margin-top: 50px;
    }

  }
}

.featured {
  padding: 30px;

  .featured__item {
    padding: 20px 10px 20px 10px;
  }
}

.img-responsive {
  width: auto;
  max-height: 100%;
  display: block;
}

.instagram-box {
  max-width: 900px;
  margin: 0 auto;
}

.care-tips {
  max-width: 900px;
  padding: 30px;
  margin: 0 auto;
  text-align: left;

  h1 {
    text-align: center;
  }

  ul {
    list-style: none;
  }
}
