%nav
  .row
    %a.four.columns{href: '/'}
      .logo
        %img{src: 'images/logo.png'}
        .title
          %h5
            Urban Flora
          %h6
            Succulents
    .eight.columns
      %ul.u-pull-right
        %li
          %a{href: '/'} HOME
        %li 
          %a{href: '/gallery'} GALLERY
        %li 
          %a{href: '/care-tips'} CARE TIPS
        %li ABOUT
        %li Products