%nav
  .row
    %a.four.columns{href: '/'}
      .six.colums
        %img.u-pull-left{src: 'images/logo.png'}
      .six.columns
        %span.u-pull-left
          Urban Flora
          %br
          Succulents
    .eight.columns
      %ul.u-pull-right
        %li 
          %a{href: 'gallery'} GALLERY
        %li CARE TIPS
        %li ABOUT
        %li Products