%nav
  .row
    .four.columns
      .two.colums
        %img.u-pull-left{src: 'images/logo.png'}
      .ten.columns
        %span.u-pull-left
          Urban Flora
          %br
          Succulents
    .eight.columns
      %ul.u-pull-right
        %li GALLERY
        %li CARE TIPS
        %li ABOUT
        %li Products