---
title: Care Tips | Urban Flora
---

%h1 Care Tips

%h3
  Water and Fertilized Soil:
%ul
  %li
    Water every 1-2 weeks.
  %li
    Soak soil completely allowing water to drain through the bottom holes.
  %li
    Let soil dry out completely between waterings.
  %li
    Use balanced fertilizer diluted 1-4 if desired.

%h3
  Light:
%ul
  %li
    Bright morning sunlight is optimal for most species.
  %li
    Most cannot tolerate direct afternoon {Texas} sun, although several species thrive in these conditions.

%h3
  Soil:
%ul
  %li
    Cactus and succulent soil is ideal.
  %li
    To create your own fast draining succulent soil use a simple mixture of: 3 parts potting soil, 2 parts sand, 1 part perlite.

